/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    macros {
        back: back {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(LEFT_ARROW)>;
            label = "BACK";
        };

        CloseWindow: CloseWindow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(F4)>;
            label = "CLOSEWINDOW";
        };

        cut: cut {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(X)>;
            label = "CUT";
        };

        copy: copy {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(C)>;
            label = "COPY";
        };

        paste: paste {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(V)>;
            label = "PASTE";
        };

        undo: undo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(Z)>;
            label = "UNDO";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Main {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&lt 4 ESC         &kp Q  &kp W  &kp E    &kp R  &kp T            &kp Y      &kp U        &kp I      &kp O    &kp P     &kp EQUAL
&kp LEFT_SHIFT    &kp A  &kp S  &kp D    &kp F  &kp G            &kp H      &kp J        &kp K      &kp L    &kp SEMI  &kp SQT
&kp LEFT_CONTROL  &kp Z  &kp X  &kp C    &kp V  &kp B            &kp N      &kp M        &kp COMMA  &kp DOT  &kp FSLH  &kp BACKSLASH
                                &kp TAB  &mo 1  &kp BACKSPACE    &kp SPACE  &lt 2 ENTER  &to 3
            >;
        };

        NumSym {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Layer 1";
            bindings = <
&kp ESC           &kp INSERT     &kp HOME        &kp UP_ARROW    &kp END          &kp LEFT_PARENTHESIS    &kp RIGHT_PARENTHESIS  &kp N7     &kp N8  &kp N9  &kp PLUS      &kp MINUS
&kp LEFT_SHIFT    &kp PAGE_UP    &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp LEFT_BRACE          &kp RIGHT_BRACE        &kp N4     &kp N5  &kp N6  &kp ASTERISK  &kp UNDERSCORE
&kp LEFT_CONTROL  &kp PAGE_DOWN  &kp LEFT_ALT    &kp GRAVE       &kp TILDE        &kp LEFT_BRACKET        &kp RIGHT_BRACKET      &kp N1     &kp N2  &kp N3  &kp SLASH     &kp DELETE
                                                 &kp TAB         &trans           &kp BACKSPACE           &kp SPACE              &kp ENTER  &kp N0
            >;
        };

        Command {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Layer 2";
            bindings = <
&kp ESC           &mt F1 Q  &mt F2 W  &mt F3 E  &mt F4 R      &mt F5 T            &mt F6 Y   &mt F7 U  &mt F8 I   &mt F9 O  &mt F10 P  &kp F11
&kp LEFT_SHIFT    &trans    &trans    &trans    &trans        &trans              &trans     &trans    &trans     &trans    &trans     &kp F12
&kp LEFT_CONTROL  &trans    &trans    &trans    &trans        &trans              &trans     &trans    &trans     &trans    &trans     &kp DELETE
                                      &kp TAB   &kp LEFT_ALT  &kp LEFT_COMMAND    &kp SPACE  &trans    &kp ENTER
            >;
        };

        Mouse {
            display-name = "Layer 3";
            bindings = <
&lt 4 ESC         &none          &kp HOME        &kp UP_ARROW    &kp END          &CloseWindow     &kp PRINTSCREEN                         &mkp LCLK       &mmv MOVE_UP    &mkp RCLK        &none           &tog 5
&kp LEFT_SHIFT    &kp PAGE_UP    &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &back            &none                                   &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &msc SCRL_UP    &none
&kp LEFT_CONTROL  &kp PAGE_DOWN  &cut            &copy           &paste           &undo            &kp C_AC_DESKTOP_SHOW_ALL_APPLICATIONS  &msc SCRL_LEFT  &none           &msc SCRL_RIGHT  &msc SCRL_DOWN  &kp DELETE
                                                 &kp TAB         &to 0            &kp BACKSPACE    &mkp LCLK                               &kp ENTER       &kp SPACE
            >;
        };

        NumpadBT {
            display-name = "Layer 4";
            bindings = <
&trans            &bt BT_SEL 0   &bt BT_SEL 1    &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_SEL 4     &kp KP_CLEAR  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_PLUS      &kp KP_MINUS
&none             &bt BT_DISC 0  &bt BT_DISC 1   &bt BT_DISC 2  &bt BT_DISC 3  &bt BT_DISC 4    &none         &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_MULTIPLY  &kp KP_EQUAL
&kp LEFT_CONTROL  &bt BT_CLR     &bt BT_CLR_ALL  &none          &kp HOME       &kp END          &kp KP_DOT    &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_DIVIDE    &kp DELETE
                                                 &kp TAB        &kp LEFT_ALT   &kp BACKSPACE    &kp SPACE     &kp ENTER        &kp KP_N0
            >;
        };

        Light {
            display-name = "Layer 5";
            bindings = <
&none                             &none                            &none                            &none                             &none                             &none                               &rgb_ug RGB_TOG                   &none                             &none                            &none                           &none            &to 3
&rgb_ug RGB_COLOR_HSB(355,94,50)  &rgb_ug RGB_COLOR_HSB(22,97,49)  &rgb_ug RGB_COLOR_HSB(58,91,50)  &rgb_ug RGB_COLOR_HSB(118,95,49)  &rgb_ug RGB_COLOR_HSB(186,93,50)  &rgb_ug RGB_COLOR_HSB(231,94,47)    &rgb_ug RGB_COLOR_HSB(267,94,48)  &rgb_ug RGB_COLOR_HSB(305,97,49)  &rgb_ug RGB_COLOR_HSB(40,30,96)  &rgb_ug RGB_COLOR_HSB(245,0,1)  &rgb_ug RGB_HUI  &rgb_ug RGB_SAI
&none                             &none                            &none                            &none                             &none                             &none                               &none                             &none                             &none                            &none                           &rgb_ug RGB_HUD  &rgb_ug RGB_SAD
                                                                                                    &rgb_ug RGB_SPI                   &rgb_ug RGB_BRI                   &rgb_ug RGB_EFF                     &rgb_ug RGB_EFR                   &rgb_ug RGB_BRD                   &rgb_ug RGB_SPD
            >;
        };
    };
};
